<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>caiog2</title>
</head>
<body>
    <div class="card">
    <h2>aula de programacao</h2>
 <p>aula de iniciacao a <i>programacao</i>para iniciantes do 2° ano e noturno do colegio estadual emilio de menezes </p>/div>
    <div class="card 2">
    <h2>aula de robotica</h2>
<p>aula de iniciacao a robotica para iniciantes do 2°ano e noturno do colegio estadual emilio de menezes</p>/div>
    <div class="card 3">
<h2>aula de ingles</h2>
<p>aula de ingles com auxilio da plataforma ingles parana do 2°ano e noturno do colegio estadual emilio de menezes</p>/div>
</body>
</html>