body {background-color: rgb(231, 228, 235);}

 header{background-color: rgb(16, 47, 221);
 display: flex;
justify-content: space-around;
}
       
 
       .imagem{width: 13%;}
       .carro{width: 40%;
       text-align: center;
display: flex;}
